<p>
Información General
</p>
<p>
Referencia: Unidad de Micro Datos y Encuestas
</p>
<p>
Año: 2009 Mayo
</p>
<p>
País: Bolivia
</p>
<p>
Fuente: Encuesta de Movilidad y Estratificación Social.
</p>
<p>
Patrocinador(es): Programa de las Naciones Unidas para el Desarrollo
</p>
<p>
Fundación ARU es una organización independiente de estudios de política
comprometida a promover investigación aplicada, objetiva y de alta calidad que
informe e influya a la creación de políticas en Bolivia. Fundación ARU, lleva
como uno de sus fundamentos, la creencia de que las políticas más efectivas
son aquellas que proporcionan oportunidades a las personas para construir una
vida mejor y que estas promueven sociedades cohesionadas y vibrantes. La formulaci
ón de cualquier política recomendada deberá estar basada en evidencia
obtenida a partir de una investigación aplicada objetiva y de alta calidad, capaz
no sólo de promover el debate de política pública sino buscando también
influenciar el proceso de toma de decisiones.
</p>
<p>
La labor desempeñada por fundacion Aru fue de la supervisión ex post de
la EMES, realizada después, de concluido el operativo de campo. Se buscó detectar
los errores ajenos al muestreo, que se producen durante la captura de la
información (errores en la labor de los entrevistadores, declaraciones incorrectas
o ausencia de respuesta de los informantes) o en las operaciones posteriores al
trabajo de campo (errores de codificación y transcripción). Se evaluó cada UPM
y se le asignó una puntuación a partir de criterios.
</p>
<p>
Diseño de Instrumentos
</p>
<p>
Dos aspectos son fundamentales para la calidad de una encuesta de hogares:
el diseño de la muestra y la calidad del levantamiento de información. La
selección de una muestra representativa de hogares de una población de interés
determinada es crucial para cualquier encuesta de hogares. Un adecuado dise-
ño de muestra permite no sólo maximizar la representatividad de la muestra
seleccionada sino también minimizar costos. Sin embargo, no menos crucial es
asegurar que el operativo de recolección de información respete al máximo los
criterios establecidos por el diseño muestral.
</p>
<p>
Insumos: Para la realización del trabajo de supervisión de la Encuesta de Desigualdad
y Movilidad Social en Bolivia será necesario el acceso oportuno a los
documentos:
</p>
<p>
Diseño de la muestra
</p>
<p>
Cuestionario final 
</p>
<p>
Plan del operativo de campo
</p>
<p>
Cartografía de las UPMs
</p>
<p>
Lista de Localidades y Centros Poblados por UPM, del área rural
</p>
<p>
Manuales de capacitación de supervisores
</p>
<p>
Manuales de capacitación de encuestadores
</p>
<p>
Tareas: Las tareas a realizarse en la Supervisión de Campo de la Encuesta Nacional
sobre Movilidad y Estratificación Social 2009, con especial énfasis en el
Área Rural consisten en:
</p>
<p>
Realizar la revisión de la Georeferenciación de las UPMs seleccionadas
para el Encuesta
</p>
<p>
Desarrollar una estrategia para el monitoreo geográfico del Operativo
de Campo
</p>
<p>
Elaborar una estrategia de Selección de UPMs a ser supervisadas
bajo criterios de selección que estén en directa relación a la dicultad
de realizar la encuesta
</p>
<p>
Coordinar el Plan de trabajo a llevarse a cabo por Equipos Mori, en
sus facetas
</p>
<p>
Ejecutar la Estrategia de Supervisión diseñada, verificando que los
supervisores realicen los controles
</p>
<p>
Desarrollo y participación ciudadana
</p>
<p>
A pesar de la importancia de los operativos de supervisión, conjunto y ex
post, para garantizar la representatividad de la muestra seleccionada y la calidad
de la información recogida, limitaciones presupuestarias hacen que la realización
de estos operativos para la totalidad de la muestra sea prácticamente imposible.
Sin embargo es recomendable al menos supervisar una proporción no menor al
10 por ciento de las UPMs no de los hogares. En el caso de la EMES, el 10 por
ciento de las 500 UPMs equivaldría a supervisar 50 UPMs. Dado el diseño de
muestra y los elevados costos fijos de traslado hacia/desde el área rural, de la
encuesta la estrategia de supervisión más adecuada supondría una combinación
de supervisión conjunta (SC) de los estratos más pobres generalmente rurales
y dispersos.
</p>
<p>
Información Técnica
</p>
<p>
Muestreo: Cambios en los criterios de selección de la muestra, tanto a nivel de Unidades
Primarias de Muestreo (UPMs) como a nivel de hogares, pueden disminuir
la representatividad de la muestra, especialmente en los casos en los que estos
cambios no están debidamente justificados o documentados.
Para asegurar una que los hogares entrevistados sean los hogares seleccionados
y que las entrevistas respeten los procedimientos de recolección establecidos,
es conveniente utilizar técnicas de supervisión conjunta y/o técnicas de supervisión ex post.
</p>
<p>
Cuestionario: La Encuesta de Movilidad y Estratificación Social del Programa de las Naciones
Unidas para el Desarrollo
</p>
<p>
Recolección de datos: La estructura de organización de la supervisión del Operativo de Supervisión
en el Área Rural, consiste en un coordinador nacional de operaciones en el área
rural, apoyado por un coordinador de logística, y nueve supervisores de campo
departamentales y un especialista a cargo de la transcripción. Los encuestadores,
son los observadores y ejecutores de las normas establecidas en el manual
del encuestador y del supervisor
En el Operativo de Supervisión en el área rural: Se tendrán aproximadamente
9 encuestadores en todo el país, uno por departamento, los cuales se unirán
a la brigada de ejecución de la encuesta de Equipos Mori, como observadores
del seguimiento del operativo y ejecutores de un operativo de reentrevista. Se
planifica enviar a cada uno de los encuestadores a los centros de Operación establecidos
por Equipos Mori en cada Departamento, y desde la ciudad realizar
el desplazamiento hasta las UPMs elegidas para realizar la supervisión
El trabajo de supervisión y evaluación de la EMES tendrá una duración aproximada
de 10 semanas, distribuidas de acuerdo al cronograma. La metodología
de supervisión consiste en verificar a través de la observación de supervisores
el levantamiento de la información y contrastar mencionado operativo con los
lineamientos preestablecidos en el Manual del Supervisor así como en el Manual
del Encuestador, para asegurarse que el diseño muestral se cumpla a cabalidad
</p>
<p>
Supervisión Conjunta
</p>
<p>
Se denomina supervisión conjunta al procedimiento de supervisión que se
realiza en el momento de la entrevista, y por lo general, en conjunto con el
operativo de campo. La supervisión conjunta tiene el objetivo de garantizar que
tanto las UPMs como los hogares entrevistados sean efectivamente aquellos seleccionados
por el diseño de la muestra. En esta etapa los supervisores deben
asegurar el buen uso de la información geográfica para la ubicación y delimitaci
ón de las UPMs así como el adecuado levantamiento de una actualización
cartográfica y demográfica de los hogares de la UPM que permita utilizar los
procedimientos de selección de los hogares previstos en el diseño de muestra.
Finalmente, la entrevista conjunta también permite analizar la calidad de la informaci
ón recolectada contrastando los procedimientos utilizados en la encuesta
con los previstos en los manuales de capacitación de supervisores y encuestadores
de campo. Los modelos de los Formularios de Supervisión Conjunta a ser
utilizados son: Formulario de observación conjunta, Formulario de transcripción.
</p>
<p>
Evaluación de datos
</p>
<p>
Una vez concluido el operativo de campo es necesario realizar una evaluación
no sólo de la calidad de la información obtenida sino también de representatividad
de la muestra encuestada. Para analizar la supervisión y ejecución de la
EMES se planea utilizar 3 tipos de indicadores, aquellos que se reeren a medir
si los encuestadores llegaron a todos los lugares seleccionados en el diseño muestral,
el segundo set se centra en analizar las divergencias que pudieron existir
en el listado general de localidades y viviendas, componentes de los mismos y
visitas para asegurarse que se responda el cuestionario bajo los procesos que
debe emplear el encuestador para garantizar una alta calidad en la recopilación
en el levantamiento de información y finalmente el último apartado de indicadores
de reentrevista referidos al flujo y consistencia de preguntas realizadas en la
reentrevista, haciendo especial énfasis en las secciones señalas clave por el ente
financiador. Todo ello nos servirá para poder calificar el grado de calidad con
que fue levantada la información en cada UPM bajo supervisión.
</p>
<p>
Indicadores de buena calidad en el desarrollo de la
entrevista: Indicadores de delimitación geográfica de la UPM, Indicadores de Comparación de Información levantada,Indicadores de evaluación de variables clave de la EMES, en sus secciones
cinco ocho y nueve especialmente, Indicadores de delimitación geográfica por UPM, Indicadores de Comparación de Información levantada, Indicadores de Re entrevista y Promedio Total de indicadores de calidad de la UPM.
</p>
