<p>
Información General
</p>
<p>
Referencia: Unidad de Micro Datos y Encuestas
</p>
<p>
Año: 2009 Mayo
</p>
<p>
País: Bolivia
</p>
<p>
Fuente: Encuesta de Movilidad y Estratificación Social.
</p>
<p>
Patrocinador(es): Programa de las Naciones Unidas para el Desarrollo
</p>
<p>
Fundación ARU es una organización independiente de estudios de política
comprometida a promover investigación aplicada, objetiva y de alta calidad que
informe e influya a la creación de políticas en Bolivia. Fundación ARU, lleva
como uno de sus fundamentos, la creencia de que las políticas más efectivas
son aquellas que proporcionan oportunidades a las personas para construir una
vida mejor y que estas promueven sociedades cohesionadas y vibrantes. La formulaci
ón de cualquier política recomendada deberá estar basada en evidencia
obtenida a partir de una investigación aplicada objetiva y de alta calidad, capaz
no sólo de promover el debate de política pública sino buscando también
influenciar el proceso de toma de decisiones.
</p>
<p>
La labor desempeñada por fundacion Aru fue de la supervisión ex post de
la EMES, realizada después, de concluido el operativo de campo. Se buscó detectar
los errores ajenos al muestreo, que se producen durante la captura de la
información (errores en la labor de los entrevistadores, declaraciones incorrectas
o ausencia de respuesta de los informantes) o en las operaciones posteriores al
trabajo de campo (errores de codificación y transcripción). Se evaluó cada UPM
y se le asignó una puntuación a partir de criterios.
</p>
<p>
Diseño de Instrumentos
</p>
<p>
Dos aspectos son fundamentales para la calidad de una encuesta de hogares:
el diseño de la muestra y la calidad del levantamiento de información. La
selección de una muestra representativa de hogares de una población de interés
determinada es crucial para cualquier encuesta de hogares. Un adecuado dise-
ño de muestra permite no sólo maximizar la representatividad de la muestra
seleccionada sino también minimizar costos. Sin embargo, no menos crucial es
asegurar que el operativo de recolección de información respete al máximo los
criterios establecidos por el diseño muestral.
</p>
<p>
Estrategia de Supervisión Conjunta
</p>
<p>
1. Insumos: Para la realización del trabajo de supervisión de la Encuesta de Desigualdad
y Movilidad Social en Bolivia será necesario el acceso oportuno a los
documentos:
</p>
<p>
Diseño de la muestra
</p>
<p>
Cuestionario final 
</p>
<p>
Plan del operativo de campo
</p>
<p>
Cartografía de las UPMs
</p>
<p>
Lista de Localidades y Centros Poblados por UPM, del área rural
</p>
<p>
Manuales de capacitación de supervisores
</p>
<p>
Manuales de capacitación de encuestadores
</p>
<p>
Tareas: Las tareas a realizarse en la Supervisión de Campo de la Encuesta Nacional
sobre Movilidad y Estratificación Social 2009, con especial énfasis en el
Área Rural consisten en:
</p>
<p>
Realizar la revisión de la Georeferenciación de las UPMs seleccionadas
para el Encuesta
</p>
<p>
Desarrollar una estrategia para el monitoreo geográfico del Operativo
de Campo
</p>
<p>
Elaborar una estrategia de Selección de UPMs a ser supervisadas
bajo criterios de selección que estén en directa relación a la dicultad
de realizar la encuesta
</p>
<p>
Coordinar el Plan de trabajo a llevarse a cabo por Equipos Mori, en
sus facetas
</p>
<p>
Ejecutar la Estrategia de Supervisión diseñada, verificando que los
supervisores realicen los controles
</p>
<p>
Desarrollo y participación ciudadana
</p>
<p>
Año: 2009 Mayo
</p>
<p>
Año: 2009 Mayo
</p>
<p>
Año: 2009 Mayo
</p>
<p>
Año: 2009 Mayo
</p>
<p>
Año: 2009 Mayo
</p>
<p>
Año: 2009 Mayo
</p>