<p>
<b>Información General</b>
</p>
<p>
El proyecto nace a partir de la necesidad, de hacer seguimiento a los impactos
de las políticas y programas asi como a los diversos shocks que atraviesan
poblaciones pobres y vulnerables. Debido a la falta de información necesaria,
este tipo de levantamiento de información pretende ser tomado como un aporte
fundamental, en la formulación de políticas e implementación de programas. En
este sentido, la iniciativa SMBC es un mecanismo que pretende ser sostenible para
que se pueda facilitar decisiones basadas en evidencia e impacto-monitoreado
a niveles locales. En general, los censos y estadísticas oficiales son solamente
fiables a nivel regional y provincial; (es decir, el diseño de la muestra de muchos
de estos estudios proporcionan estimaciones de las variables sólo a nivel provincial)
y no así a nivel micro de las comunidades. Normalmente en la información
recolectada de censos y encuestas no es posible tener una visión comprensiva de
las distintas dimensiones de la pobreza de un hogar particular en cierto tiempo.
</p>
<p>
<ul>
<li type="square">Referencia: Unidad de Micro Datos y Encuestas</li>
<li type="square">Año: 2013 Noviembre - Diciembre / 2014 Enero</li>
<li type="square">País: Bolivia</li>
<li type="square">Fuente: Comunidad de Concepción de la ciudad de Santa Cruz</li>
<li type="square">Patrocinador(es): Sistema de Monitoreo Basado en la Comunidad </li>
</ul>
</p>
<p>
<b> Diseño de Instrumentos </b>
</p>
<p>
Esta metodología esta diseñada para generar una serie de indicadores que
logren determinar el estado de bienestar de la población. Estos indicadores capturan
aspectos de la pobreza multidimensional.
</p>
<p>
El diseño sigue un proceso organizado y metodológico que consta de las
siguientes partes:
<ul>
<li type="disc">Planificación del proyecto en general- Preparación del material, de las
preguntas de la encuesta, actualización cartográfica, generación del cronograma
y capacitación del personal de campo.</li>
<li type="disc">Sensibilización- Informar y establecer un diálogo con las autoridades locales
y habitantes acerca del proyecto. Formar mesas de diálogo con autoridades.</li>
<li type="disc">Recolección de información- El operativo visita todos los hogares de la zona
urbana de Concepción para hacerles un cuestionario que tomará aproximadamente
40 minutos.</li>
<li type="disc">Procesamiento- Se sistematiza el instrumento de captura y la información
recolectada.</li>
<li type="disc">Validación- Se realiza una verificación y validación de los datos.</li>
<li type="disc">Gestión- Se realizan cálculos de los indicadores clave.</li>
<li type="disc">Formulación- Se analizan los hallazgos.</li>
<li type="disc">Integración de la información- Se espera que las autoridades locales integren
los resultados de la información para producir políticas locales.</li>
<li type="disc">Difusión- Los resultados del proyecto son expuestos a las autoridades gubernamentales
y locales de la comunidad.</li>
</ul>
</p>

<p>
<b> Desarrollo y participación ciudadana </b>
</p>
<p>
La iniciativa cuenta con dos audiencias principalmente, los habitantes en su
conjunto y los hacedores de políticas.
</p>
<p>
Los habitantes son claves dado que la recolección se da a cada hogar de la
zona urbana de Concepción. Para contar con la disponibilidad y la cooperación
de los hogares se elabora el plan de sensibilización destinado a crear confianza
y legitimidad con el proyecto.
</p>
<p>
Los hacedores de política, en este caso la autoridades locales, también son sumamente
importantes en el proceso del proyecto porque son ellos que dispondrán
de la información para planificar propuestas y elaborar proyectos destinados a
mejorar la calidad de vida de sus habitantes.
</p>
<p>
El proyecto pretende validar el conocimiento de la comunidad mediante informaci
ón certera y confiable para ofrecer a la localidad las herramientas necesarias
para hacer sus propios proyectos.
</p>
<p>
<b> Información Técnica </b>
</p>

<p>
Censo
</p>

<p>
La finalidad de la iniciativa es que la comunidad pueda contar con un sistema
de información innovador y útil para lograr obtener financiamiento de la
gobernación, municipalidad, ONG u otra institución, en aquellas áreas que la
comunidad considere clave.
</p>
<p>
Debido a esta razón se hará uso del censo de ''derecho'' para este proyecto,
cubriendo a la población involucrada dentro de la mancha urbana de la comunidad
de Concepción, tomando cuidado de la cobertura del mismo.
</p>

<p>
Un censo de derecho, es aquel en el que los individuos se enumeran en su
lugar de residencia habitual, aunque no se encuentren presentes en él en el
momento del relevamiento de información.''
Fuente:Fondo de Población de Naciones Unidas 2010 - CEPAL - CELADE''
</p>

<p>
Cuestionario
</p>
<p>
Para una adecuada captura de información, se empleo diferentes cuestionarios
para las 3 etapas del proyecto:
</p>

<p>
Formulario de Actualización; el formulario esta compuesto por tres partes. 
<ul>
<li type="disc">Dibujo del croquis del manzano</li>
<li type="disc">Referencia de manzano con respecto a los predios(parques, canchas, iglesia,
centro de salud, etc.)</li>
<li type="disc">Información General de la vivienda (servicios básicos, número de habitantes)</li>
</ul>
Cuestionario de Empadronamiento; el cuestionario esta compuesto por seis secciones. Cada sección en partes, y estas
contienen un conjunto de preguntas que permiten medir variables que componen
indicadores.
<ul>
<li type="disc">Sección 0: Códigos de Identificación</li>
<li type="disc">Sección 1: Características Generales del Hogar y sus Miembros</li>
<li type="disc">Sección 2: Empleo</li>
<li type="disc">Sección 3: Ingresos No Laborales del Hogar</li>
<li type="disc">Sección 4: Gastos del Hogar</li>
<li type="disc">Sección 5: Riesgos</li>
<li type="disc">Sección 6: Caracteristicas Básicas de la vivienda</li>
</ul>
Cuestionario de Verificación; el cuestionario esta compuesto por algunas secciones involucradas en la etapa
de empadronamiento:
<ul>
<li type="disc">Sección 0: Códigos de Identificación</li>
<li type="disc">Ubicación de la unidad productiva agropecuaria</li>
<li type="disc">Aspectos generales de la unidad productiva agropecuaria</li>
<li type="disc">Uso de los suelos</li>
<li type="disc">Destino de la producción y los derivados</li>
<li type="disc">Ganadería y Aves</li>
<li type="disc">Personal Ocupado</li>
<li type="disc">Infraestructura, maquinaria y/o equipo agrícola</li>
</ul>
</p>
<p>
Recolección de datos 
</p>
<p>
La planificación del operativo de campo buscó la conformación de una muestra
final con la realización de dos pruebas piloto. La primera prueba piloto se
dio en el departamento de La Paz, en las localidades de Coroico y El Palomar,
con el objetivo principal de medir los tiempos efectivos por boleta, así como los
desplazamientos y accesibilidad de la gente. Un nuevo análisis del contenido de
la boleta, definió nuevas boletas para la construcción de mejores indicadores. De
esta forma, se realizó una segunda prueba piloto que definió nuevos tiempos para
las nuevas boletas e influyó en las tasas de no respuesta observadas. Considerando
los nuevos datos obtenidos de esta prueba piloto, se estableció una nueva
muestra efectiva, que incluye un excedente en caso de contingencias. De esta manera,
la muestra total para el operativo de campo alcanzaba las 4,360 unidades
económicas. Este total de unidades económicas se distribuye equitativamente en 2,180 encuestas a unidades beneciadas con el Crédito Productivo Individual
como a unidades de control que no recibieron el crédito. Adicionalmente, las
4,360 encuestas se distribuyen en 2,210 encuestas para el sector manufacturero
y 2,150 para el sector agropecuario.
</p>
<p>
A partir de la selección de la muestra, la información es recogida. Usando
para las unidades de control la tabla de selección Random walk y el formulario
de recorrido de Random Walk, con brigadas armadas para los nueve departamentos,
previa capacitación a una parte de ellos en ambos rubros y a otros con
especialidad en uno de los rubros.
</p>

<p>
Proceso de datos 
</p>
<p>
La crítica, codificación y transcripción de la información recogida, es realizada
con la contratación y capacitación del personal previamente capacitado y
evaluado, para realizar tareas como : consistencia en la información del cuestionario,
coherencia y validez de los datos, con el fin de generar una base de
datos usando como interfase a una plantilla diseñada en Cspro, que refleje la
realidad de la información capturada en campo y a su vez refleje los objetivos
buscados y esperados de la encuesta por parte del informante con la generación
de indicadores.
</p>

<p>
 Evaluación de datos
</p>
<p>
Para la evaluación de datos se toma en cuenta indicadores que respondan
a la estructura de la encuesta de línea base, permitiendo identificar datos para
cuatro grandes grupos: (1) Miembros del Hogar, (2) Hogar, (3) Agropecuaria y
(4) Manufactura, hecho que es necesario realizar por la variedad de información
que se recolecta de cada uno de ellos. De esta manera, buscando detallar informaci
ón relevante sobre los miembros del hogar; sobre los ingresos, gastos del
hogar y características de la vivienda; características de la unidad económica,
producción, ingresos y costos de las actividades agrícolas y pecuarias; y finalmente
producción, ingresos y costos de las actividades manufactureras.
</p>
<p>
Realizando también un análisis de estadísticas descriptivas que permitan
crear perfiles de las personas encuestadas dentro del levantamiento de línea base, esperando que de esta manera, se puedan conocer las principales características
de las unidades familiares y económicas de los grupos de tratamiento y control.
</p>