<p>
<b>Información General</b>
</p>
<p>
El Instituto de Investigaciones Sociológicas ”Mauricio Lefebvre”, es la Unidad Académica encargada de planificar,
ejecutar, evaluar programas y proyectos de investigación, diseñar y analizar políticas sociales de acuerdo al
perfil profesional establecido por la Carrera de Sociología de la UMSA. ”El objetivo fundamental del IDIS es el
fomento a la investigación que desarrollan docentes y estudiantes de la Carrera de Sociología en la perspectiva de
contribuir al desarrollo de las Ciencias Sociales en el país con las generaciones de nuevos conocimientos sobre
la realidad social boliviana y el diseño y análisis de políticas públicas tendentes al desarrollo económico social y
el cambio social.
</p>
<p>
El Taller ”Diseño, Desarrollo y Análisis de Encuestas Sociales” fue desarrollado con la temática: Igualdad de
Oportunidades, Migración Pendular y Urbanismo como resultado del convenio de trabajo, entre Fundación ARU
y el IDIS de la UMSA, con la iniciativa de impulsar la investigación.
</p>
<p>
<ul>
<li type="square">Referencia: Unidad de Micro Datos y Encuestas</li>
<li type="square">Año: Junio 15 Marzo 2016                                                                                                                                                                                                                               ">País: Bolivia</li>
<li type="square">Fuente: Micro empresarios de La Paz, Oruro, Cochabamba, Potosí y Chuquisaca.</li>
<li type="square">Instituciones Participantes: Ministerio de Desarrollo y Economía Plural, Viceministerio de Micro y Pequeña
Empresa, PRO BOLIVA; PROFIN, COSUDE, DANIDA; Fundación ARU</li>
</ul>
</p>
<p>
<b> Diseño de Instrumentos </b>
</p>

<p>
La metodología diseñada para la ”Línea Base” se desarrolla entorno a:
<ul>
<li type="disc">La consolidación de los indicadores clave del estudio</li>
<li type="disc">La definición del cuestionario</li>
<li type="disc">El diseño muestral</li>
<li type="disc">La estrategia de recolección de información primaria por medio de una encuesta</li>
<li type="disc">El procesamiento de la información.</li>
<li type="disc">Finalmente el cálculo y análisis de los indicadores de interés.</li>
</ul>
</p>

<p>
<b> Desarrollo y participación ciudadana </b>
</p>
<p>
El proyecto fue dirigido a ”Micro empresarios” encontrados en sectores sorteados de cinco departamentos de
Bolivia (La Paz, Oruro, Cochabamba, Potosí y Chuquisaca), pertenecientes a los rubros: madera, textil, alimentos,
metal mecánica y cuero; con un año de experiencia como propietarios de las ”Micro Empresas”.
</p>

<p>
<b> Información Técnica </b>
</p>

<p>
Muestreo
</p>

<p>
Una vez definido el diseño es necesario emplear el prefijo ”svy” antes de los comandos para evaluar el error.
Es importante recordar que los indicadores de rendimiento de muestreo comúnmente usados son el coeficiente de
variación y el efecto de diseño, el primero permite evaluar la calidad del indicador y el segundo permite comparar
su eficiencia respecto a algún dominio en particular u otro estudio similar.
Estas variables y el procedimiento son únicamente validos para la base ”JiwasaDataBase vf”
</p>

<p>
Cuestionario
</p>
<p>
La estructura del cuestionario, esta orientado a recabar información del ”Micro Empresario” respecto a :
<ul>
<li type="disc">Sección 0: Códigos de Ubicación</li>
<li type="disc">Sección 1: Variables de identificación y características generales del Negocio/Taller</li>
<li type="disc">Sección 2: Descripción general del Negocio/Taller</li>
<li type="disc">Sección 3: Características generales del Informante(Propietario) y su hogar</li>
<li type="disc">Sección 4: Empleados del Negocio/Taller</li>
<li type="disc">Sección 5: Características detalladas del Negocio/Taller</li>
<li type="disc">Sección 6: Ventas y producción</li>
<li type="disc">Sección 7: Insumos y proveedores</li>
<li type="disc">Sección 8: Gastos</li>
<li type="disc">Sección 9: Activos</li>
<li type="disc">Sección 10: Pasivos y patrimonio</li>
<li type="disc">Sección 11: Observaciones del encuestador</li>
</ul>
</p>
<p>
Recolección de datos 
</p>
<p>
<ul>
<li type="disc">Tipo de operativo: Un mes de recorrido para algunos departamentos y para otros un mes y medio.</li>
<li type="disc">Poblacion Objetivo: Micro Empresarios que cumplen los criterios de selección</li>
<li type="disc">Cobertura espacial: 13 municipios en 5 departamentos elegidos para ser intervenidos, con la encuesta</li>
<li type="disc">Cobertura temporal: 17 de agosto al 7 de Octubre 2015</li>
<li type="disc">Cobertura temática: Llenado de formularios de actualización y encuesta</li>
<li type="disc">Personal: Aproximadamente 65 personas(53 encuestadores y 12 supervisores)</li>
<li type="disc">Unidad de Observación: Sectores seleccionados, Micro empresarios seleccionados</li>
<li type="disc">Tiempo de llenado del cuestionario: 60 - 45 minutos</li>
<li type="disc">Carga de trabajo: 1-2 sectores censales; 3 entrevistas/día</li>
<li type="disc">Tipo de trabajo: Remunerado</li>
</ul>
</p>
<p>
La estrategia empleada para la recolección de información primaria; es una encuesta, ejecutada desde el 17 de
agosto hasta el 7 de octubre del año 2015 con la siguiente estructura:
<ul>
<li type="disc">Actualización de sectores censales sorteados</li>
<li type="disc">Identificación de micro empresarios a entrevistar</li>
<li type="disc">Llenado del cuestionario</li>
<li type="disc">Aplicación del tratamiento, si corresponde</li>
</ul>
</p>
<p>
Proceso de datos 
</p>
<p>
<ul>
<li type="disc">Captura: Aplicación ”OperativoJiwasa2” cargada en la tablet</li>
<li type="disc">Consistencia: Árbol lógico de programación en la aplicación</li>
<li type="disc">Transmisión: En línea vía internet y respaldo Backup del dispositivo.</li>
<li type="disc">Validacion: Depuración - consolidación de la base (validación interna) y Consultas en el servidor por el usuario
(validación externa)</li>
</ul>
El proyecto adoptó la técnica CAPI (Entrevistas personales asistidas por un ordenador) recolección de información
con dispositivos móviles (tablets), el sistema desarrollado en CsPro y la sincronización en línea con dropbox,
las encuestas se realizaron en un 65% en los dispositivos móviles y un 35% en papel, para la Actualización Cartográfica
se empleo cuestionarios en papel.
</p>
<p>
Indicadores del Proyecto
</p>
<p>
Los indicadores son:
<ul>
<li type="disc">Indicadores de Gestión</li>
<li type="disc">Indicadores de Eficiencia y Eficacia</li>
<li type="disc">Indicadores de Entorno Económico</li>
<li type="disc">Dimensión de Género</li>
</ul>
</p>
<p>
 Evaluación de datos
</p>
<p>
La evaluación de la base de datos se da por:
<ul>
<li type="disc">1. Tablas descriptivas(frecuencias) de las variables de interés</li>
<li type="disc">2. Estadísticos resumen (media, moda, varianza, coeficiente de variación, etc.) de las variables de interés</li>
<li type="disc">3. Cálculo de indicadores</li>
</ul>
El procesamiento normal de la base de datos tuvo 2 etapas claramente identificables y que obtienen productos
diferenciados; la primera (1), corresponde a la fase en que la información del operativo de campo se convierte en
información disponible en un archivo de base de datos (STATA, SPSS, etc.), en esta fase se realizan controles de
coherencia, critica y consistencia, resultando de esta etapa la base de datos bruta. La segunda etapa (2) corresponde
a un análisis mas profundo de la base de datos bruta, donde se incluyen los factores de expansión y se define los
registros validos para calcular los indicadores e iniciar el análisis.
</p>
