<p>
<b>Información General</b>
</p>
<p>
El diseño y formulación de la Encuesta Micro y Pequeñas Empresas prioriza
dos tipos de objetivos: De Panel y Experimental. Por lo cual la encuesta rescata
variables que pueden asumirse y adecuarse como dinámicas y aquellas que tratan
de categorizar a la empresa en un tiempo según las características inherentes a
la actividad económica que realiza, el seguimiento de las unidades a través del
tiempo encontradas en la primera fase y su posición en esta segunda fase.
</p>
<p>
<ul>
<li type="square">Referencia: Unidad de Micro Datos y Encuestas</li>
<li type="square">Año: 2013 Junio</li>
<li type="square">País: Bolivia</li>
<li type="square">Fuente: Micro y pequeños empresarios de la ciudad de La Paz y El Alto</li>
<li type="square">Patrocinadores: Cooperación Andina de Fomento</li>
</ul>
</p>
<p>
<b> Diseño de Instrumentos </b>
</p>
<p>
<b>Panel:</b> Objetivo Principal
<ul>
<li type="disc">Capturar la dinámica de variación de Producción y Productividad
de las Micro y Pequeñas Empresas distinguiendo los cambios en la
estructura de producción ya sea por variaciones tecnológicas y/o de
administración después de un año de la primera fase del panel.</li>
</ul>
Objetivos Secundarios:
<ul>
<li type="disc">Distinguir la evolución de empresas que no poseen una adhesión
y representatividad formal en el mercado regulado después de un
tiempo.</li>
<li type="disc">Identificar si los principales indicadores de restricción a crecer
son los mismos después de un tiempo.</li>
<li type="disc">Definir si los indicadores de resultados como categorización sobre
su estado en comparación a los que participan en el mercado
regulado siguen siendo los mismos.</li>
</ul>
</p>
<p>
<b>Experimento:</b> Objetivo Principal
<ul>
<li type="disc">Analizar el efecto de la reducción del arancel del registro a Fundempresa,
sobre las empresas unipersonales y el efecto de la obtención de la matrícula
comercial sobre indicadores de productividad y bienestar después de haber
recibido la información.</li>
</ul>
Objetivos Secundarios:
<ul>
<li type="disc">Identificar las principales características de los propietarios y/o agentes
decisores de las firmas que puedan distinguir sus preferencias y
comportamientos en el mercado que participan.</li>
<li type="disc">Reconocer las percepciones de los agentes decisores de los negocios
sobre el ingreso al mercado formal.</li>
<li type="disc">Generar indicadores de resultados sobre sus decisiones de participaci
ón en los mercados dadas sus características financieras.</li>
<li type="disc">Definir los escenarios de acción de los agentes decisores sobre las ventajas
de formalización dadas las características de tamaño, ubicación
y tipo de industria en la que participan.</li>
</ul>
</p>

<p>
<b> Desarrollo y participación ciudadana </b>
</p>
<p>
Las unidades de información son la unidades económicas de los micro y
pequeños empresarios de las ciudades de La Paz y El Alto, que formaron parte
de la población objetivo encontrada en la primera fase, del proyecto. Con el n
de hacer un seguimiento de las empresas que tienen, dando espacio a las ''nuevas
unidades'' o tambien llamadas por el proyecto ''unidades de reemplazo'', para
ajustes del panel de las MyPES.
</p>


<p>
<b> Información Técnica </b>
</p>

<p>
Muestreo
</p>

<p>
El diseño muestral empleado en la segunda fase de la MyPES, corresponde al
mismo de la primera fase, por ser una encuesta de panel. Añadiendo estrategias
de reemplazo para aquellas unidades que cerraron definitivamente, cambiarón
de ubicación o hubo rechazo del cuestionario en esta segunda fase.
</p>
<p>
La estrategia de reemplazo fue la de encontrar una nueva unidad en el mismo
manzano donde se encontraba la anterior, siguiendo la politica de avanzar a mano derecha desde la antigua ubicación hasta encontrar la nueva unidad, siendo
que posea está el mismo rubro de la anterior o en su defecto que este en los rubros
de interés del proyecto debiendo anotar el número de unidades de interés que
habia recorrido para poder acceder a una entrevista y en su defecto el llenado
del cuestionario. 
</p>

<p>
Cuestionario
</p>
<p>
El cuestionario es diseñado para la captura de información de antiguas y
nuevas unidades, el llenado de todo el cuestionario para la unidades nuevas y la
exclusión de la primera a la quinta sección para las unidades antiguas:
</p>

<p>
Empresa:
<ul>
<li type="disc">Códigos de ubicación</li>
<li type="disc">Variables de Identificación</li>
<li type="disc">Características generales de la Unidad Económica (1ra - 5ta sección)</li>
<li type="disc">Descripción General de la Unidad Económica (1ra - 5ta sección)</li>
<li type="disc">Empleos (1ra - 5ta sección)</li>
<li type="disc">Ingresos, Gastos y Costos</li>
<li type="disc">Activos</li>
<li type="disc">Pasivos y Patrimonio</li>
</ul>
Características del empresario:
<ul>
<li type="disc">Características Generales del Informante (1ra - 5ta sección)</li>
</ul>
Percepciones:
<ul>
<li type="disc">Percepciones del Emprendedor y sobre la Unidad Económica Observaciones
del encuestador</li>
</ul>
Test:
<ul>
<li type="disc">Personalidad - Emprendurismo</li>
<li type="disc">Personalidad - Aversión al Riesgo</li>
</ul>
</p>
<p>
Recolección de datos 
</p>
<p>
La recolección de datos se da seguida a la prueba piloto, en la que se observar
ón casos como: cierre de unidades, traslado de ubicación de las unidades y
rechazo de la encuesta, dando origen a la estrategia de reemplazo de unidades
''unidades nuevas''. Para la captura de información se conformarón 2 brigadas
previa capacitación y evaluación de cada uno de los encuestadores; La Paz (1
supervisor - 6 encuestadores), El Alto (1 supervisor - 5 encuestadores), haciendo
uso de la hoja consistencia, cuyo objetivo es hacer una validación de los
cuestionarios, ya en campo, por el supervisor de brigada.
</p>

<p>
Proceso de datos 
</p>
<p>
La crítica, codificación y transcripción de la información recogida, se realizó
con el personal capacitado y evaluado en este campo, con el fin de depurar la
información capturada como: falta de respuesta, incoherencia en las respuestas,
argumentos inválidos e imputación de códigos en las respuestas abiertas, usando
como interfase para la misma, una plantilla diseñada en Cspro.
</p>

<p>
 Evaluación de datos
</p>
<p>
La evaluación de la información capturada es dada por el cálculo de indicadores
en la población objetivo del proyecto, mismos propuestos para el cumplimiento
de los objetivos trazados.
</p>
<p>
Indicadores de:
<ul>
<li type="disc">Demografía empresarial</li>
<li type="disc">Formalización</li>
<li type="disc">Productividad ''Ingresos y gastos''</li>
<li type="disc">Costos directos</li>
<li type="disc">Gastos ''Recursos humanos''</li>
<li type="disc">Activos</li>
<li type="disc">Pasivos</li>
<li type="disc">Patrimonio</li>
<li type="disc">Percepciones</li>
<li type="disc">Aptitudes</li>
</ul>
</p>