<p>
<b>Información General</b>
</p>
<p>
Fundación ARU es una organización independiente de estudios de política
comprometida a promover investigación aplicada, objetiva y de alta calidad que
informe e influya a la creación de políticas en Bolivia. Fundación ARU, lleva
como uno de sus fundamentos, la creencia de que las políticas más efectivas
son aquellas que proporcionan oportunidades a las personas para construir una
vida mejor y que estas promueven sociedades cohesionadas y vibrantes. La formulaci
ón de cualquier política recomendada deberá estar basada en evidencia
obtenida a partir de una investigación aplicada objetiva y de alta calidad, capaz
no sólo de promover el debate de política pública sino buscando también
influenciar el proceso de toma de decisiones.
</p>
<p>
<ul>
<li type="square">Referencia: Unidad de Micro Datos y Encuestas</li>
<li type="square">2012 Enero</li>
<li type="square">País: Bolivia</li>
<li type="square">Fuente: Los niños y las niñas de los centros de la organización</li>
<li type="square">Patrocinador(es): Save the Children</li>
</ul>
</p>

<p>
Save de Children con el programa ''Los niños y las niñas lideran el camino''
tiene por objetivo asegurar derechos iguales de protección, educación y supervivencia
para niñas y niños. Las áreas de trabajo del programa son la educación
y los derechos de los niños y niñas, ambos enfocados a prevenir situaciones de
explotación laboral infantil e incrementar las oportunidades de formación y de
mejora de calidad de vida. Para el levantamiento de información del programa
''Los niños y las niñas lideran el camino'' se hizo una combinación de métodos
y tratamientos para el recojo de la información asi como para su tratamiento,
todos descritos en un cronograma de actividades, siempre en la busqueda de
brindar solidez y consistencia en los resultados y productos finales. Siendo el
objeto final del diseño, la generación de un instrumento de apoyo que sirva para
la evaluación permanente de acciones en el programa, con la identificación de indicadores
claves, de uso obligado para dar seguimiento y evaluación e identificar
tendencias y cambios que se puedan producir para el bienestar de la población.
</p>
<p>
<b> Diseño de Instrumentos </b>
</p>
<p>
Para el proyecto se hace uso de una combinación de métodos cuantitativos
comprendidos en una encuesta hecha a la población objetivo y métodos cualitativos
comprendidos por grupos focales y entrevistas estructuradas conformados
por la población objetivo, buscando hacer más efectivo el levantamiento de informaci
ón para el proyecto.
</p>

<p>
Los métodos cuantitativos, se desarrollan a partir de la propuesta de muestreo
estadístico, la selección y tamaño de muestra para el recojo de información
de variables e indicadores de interés. El levantamiento de información cualitativa,
hace uso de indicaciones, procedimientos y una guía de preguntas para el
recojo de la información.
</p>
<p>
A la par de estos métodos se desarrolló dos componentes para evaluación:
Componente de Educación Intra, Intercultural y Plurilingüe y el Componente
de Niñez Trabajadora.
</p>
<p>
La línea base resultante del proyecto, se establece como un punto de referencia
informacional para la generación de un conjunto de indicadores que pueden
identificar el desempeño en el tiempo del programa.
</p>



<p>
<b> Desarrollo y participación ciudadana </b>
</p>
<p>
El proyecto se desarrollo en las áreas de intervención del programa, en los
departamentos de: Beni, Chuquisaca, La Paz, Oruro, Potosi y Santa Cruz en
coordinación con save de children en Bolivia, a través de 8 organizaciones socias
indigenas originarias que trabajan en diferentes áreas de los departamentos:

<ul>
<li type="disc">Chasqui</li>
<li type="disc">Jaquisa</li>
<li type="disc">K'anchay</li>
<li type="disc">Tukuy</li>
<li type="disc">Territorio Indígena Multiétnico/ Territorio Indígena Mojeño Ignaciano
(TIM/TIMI)</li>
<li type="disc">Teko Guaraní</li>
<li type="disc">Consejo de Capitanes de Guaraníes de Chuquisaca (CCCh)</li>
<li type="disc">Qhara Qhara Suyu (QQS)</li>
</ul>
con la inclusión de observaciones, modificaciones y sugerencias realizadas a
instrumentos de:
<ul>
<li type="disc">SCH</li>
</ul>
</p>

<p>
<b> Información Técnica </b>
</p>

<p>
Muestreo
</p>

<p>
Para el proyecto se empleo el muestreo en dos etapas: por dominios de estudio,
estratificando por grado educativo con asignación proporcional para cada
estrato y selección aleatoria simple de las unidades o centros educativos para
ser entrevistados con selección sistemática de los estudiantes a ser considerados
en las 8 áreas de intervención.
</p>
<p>
En el proyecto se utilizó un tamaño de muestra de 1185 niños y 39 unidades
(centros educativos), para lograr garantizar representatividad del dominio, considerando
un máximo error de estimación global de 0,03 al 95% de confiabilidad
y un margen de error de a lo sumo de 0,07 a nivel de las áreas de intervención.
</p>


<p>
Cuestionario
</p>

<p>
El análisis cuantitativo permite la aproximación directa a las percepciones
y posicionamientos de niños, niñas y adolescentes trabajadores en torno a los
procesos desarrollados y los resultados del mismo, asi como a las proyecciones
en torno a su significación en su vida cotidiana.
<ul>
<li type="disc">Necesidades y condiciones laborales</li>
<li type="disc">Entorno familiar, escolar y comunitario</li>
<li type="disc">Percepción sobre otros temas de interés (trabajo digno)</li>
</ul>
El análisis cualitativo hace uso de dos herramientas: entrevistas estructuradas
y grupos focales. Las entrevistas son muy útiles para obtener información
de niños y niñas y adolescentes trabajadores. En función de la temática tratada
y de la disposición de las personas, estas se hacen individualmente o en grupos.
Se debe resaltar el hecho de que es deseable obtener cierto tipo de información
oral, pero en casos de confidencialidad tiene que hacerse individualmente; los
grupos focales estuvierón dirigidos a los padres, madres, docentes, autoridades
y directivos, y se concentra en profundizar en torno a conocimientos de derechos
de niños y las niñas en las áreas de intervención y el nivel de educación
que reciben asi como el conocimiento de los derechos laborales desde una perspectiva
de derechos y de género, generando información sobre las necesidades
socio-culturales y de aprendizaje:
<ul>
<li type="disc">El empoderamiento</li>
<li type="disc">Cambios en las relaciones de género</li>
<li type="disc">El conocimiento sobre los derechos de los niños, niñas y adolescentes</li>
<li type="disc">La exigibilidad de los derechos</li>
<li type="disc">La capacidad y ejercicio del liderazgo</li>
</ul>
La información obtenida es sometida a un proceso de categorización que
contribuye a alcanzar una perspectiva amplia del programa, sus acciones y resultados.
</p>
<p>
A pesar de la importancia de los operativos de supervisión, conjunto y ex
post, para garantizar la representatividad de la muestra seleccionada y la calidad
de la información recogida, limitaciones presupuestarias hacen que la realización
de estos operativos para la totalidad de la muestra sea prácticamente imposible.
Sin embargo es recomendable al menos supervisar una proporción no menor al
10 por ciento de las UPMs no de los hogares. En el caso de la EMES, el 10 por
ciento de las 500 UPMs equivaldría a supervisar 50 UPMs. Dado el diseño de
muestra y los elevados costos fijos de traslado hacia/desde el área rural, de la
encuesta la estrategia de supervisión más adecuada supondría una combinación
de supervisión conjunta (SC) de los estratos más pobres generalmente rurales
y dispersos. Dentro de la boleta, se introdujo variables dicótomicas y otras categóricas para
aquellos aspectos laborales de percepción sobre trabajo digno.
</p>
<p>
Recolección de datos 
</p>
<p>
Las actividades para la recolección de información y su posterior sistematizaci
ón comprenden una estrategia, dividida en tres partes:
<ul>
<li type="disc">En la primera fase se realiza previa encuesta, el listado y la captura de
información básica de las unidades educativas con los encuestadores.</li>
<li type="disc">En la segunda fase de las unidades asignadas, se realiza un conteo, in
situ del número de estudiantes, para efectos de la muestra con relación a
los objetos de estudio. El supervisor, con el uso de la tabla de números
aleatorios, selecciona las unidades para ser entrevistadas.</li>
<li type="disc">La fase de aplicación del cuestionario, se realiza a las viviendas seleccionadas
de la fase anterior. El encuestador aplica la técnica de entrevista
directa a los informantes calificados. En esta etapa se realiza, de forma
simultánea, las entrevistas y conformación de grupos focales, para el levantamiento
de información cualitativa.</li>
</ul>
Al presentarse una incidencia de no disponibilidad, el encuestador busca fijar
otra cita en horarios diferentes hasta lograr la entrevista, en caso de no lograrlo,
visita el hogar en compañia del supervisor que intenta revertir la situación y
verificar la incidencia, que es registrada en la misma boleta de la encuesta.
</p>
<p>
Proceso de datos 
</p>
<p>
Para el proceso de datos se considerá la: crítica que involucra a todo el personal
de campo y personal técnico del proyecto que es la inspección y corrección
continua de los cuestionarios; detectando omisiones, anotaciones inválidas, relaciones
incoherentes de manera sistemática de acuerdo a instrucciones del área
de temática revizando y analizando la información recolectada en campo, para
verificar la validez individual de las variables investigadas, la coherencia de sus
relaciones y la integridad global de las mismas para la consistencia de los datos;
la transcripción de datos realizada por una plantilla diseñada en Cspro; la
codificación que se encarga de la asignación de códigos a las descripciones literales
del cuestionario; la validación de la base de datos que es la generación
de frecuencias y cruce de variables para la depuración de la base y conformación
de la base final.
</p>
<p>
 Evaluación de datos
</p>
<p>
La principal tarea de establecer la línea base del programa es lograr informaci
ón que ayude ha determinar la situación de niños y niñas, padres, madres,
docentes, autoridades y directivos respecto al nivel de conocimiento y práctica
de los derechos de los niños y las niñas y el nivel de educación que reciben,
sustentadas en procedimientos estadísticos que verifiquen la construcción de variables
e indicadores, como síntesis de los resultados a encontrarse.
<p>
Indicadores de condiciones de trabajo mejoradas para niños y niñas:
<ul>
<li type="disc">Porcentaje de niñas y niños que trabajan fuera del ambiente familiar</li>
<li type="disc">Revisión de ingresos de fuente laboral, para niños, niñas y adolescentes
trabajadores</li>
<li type="disc">Relación de prestaciones laborales, en la fuente de trabajo, referidas a
seguridad y salud</li>
<li type="disc">Porcentaje de niños y niñas que han encontrado empleo en el área / oficio
en el que han sido capacitados. Al tratarse de una información de línea
base, este indicador mantiene conteo en cero</li>
</ul>
Otro conjunto de indicadores educativos que provienen del Sistema de Informaci
ón Educativa y datos del Registro Único de Estudiantes del Ministerio
de Educación son:
<ul>
<li type="disc">Porcentaje de niñas y niños que continúan con su educación por ejemplo;
secundaria, educación productiva</li>
<li type="disc">Porcentaje de niñas y niños que han completado exitosamente la educación
primaria</li>
<li type="disc">Porcentaje de niñas y niños que han completado exitosamente la educación
secundaria</li>
<li type="disc">Porcentaje de niñas y niños que han completado exitosamente una educaci
ón no formal o alternativa</li>
<li type="disc">Porcentaje de niñas y niños en el nivel primario que tienen buen manejo
de habilidades de lecto escritura y matemáticas</li>
<li type="disc">Número de niñas y niños indígenas que acceden a educación primaria o
secundaria</li>
<li type="disc">Número de niñas y niños urbanos que acceden a educación primaria o
secundaria</li>
<li type="disc">Número de unidades educativas que ofrecen nuevos currículos relevantes
para el mercado laboral</li>
<li type="disc">Número de docentes (h/m) capacitados en educación técnica alternativa</li>
<li type="disc">Número de centros de educación no formal o alternativa apoyados</li>
<li type="disc">Número de centros de educación no formal o alternativa acreditados</li>
<li type="disc">Número de niñas y niños que acceden a educación no formal o alternativa</li>
<li type="disc">Número de niñas y niños que tienen acceso a capacitación en educación
productiva</li>
<li type="disc">Número de espacios educativos que implementan programas de capacitaci
ón sobre habilidades para la vida (primaria, secundaria, no formal)</li>
<li type="disc">Número de niñas y niños que participan en el programa de capacitación
sobre habilidades para la vida</li>
<li type="disc">Tasas de retención de niñas y niños</li>
<li type="disc">Número de niñas y niños que son promovidos al siguiente grado</li>
<li type="disc">Porcentaje de niñas y niños que dominan habilidades matemáticas y de
lecto-escritura</li>
<li type="disc">Número de organizaciones socias capacitadas</li>
<li type="disc">Número de niñas y niños capacitados</li>
</ul>
Para el análizar la información se consideró el:
<ul>
<li type="disc">Análisis de correspondecia múltiple</li>
<li type="disc">Análisis de componentes principales categóricas</li>
</ul>
</p>