<p>
<b>Información General</b>
</p>

<p>
El objetivo general del proyecto es: Medir el nivel de impacto en el fortalecimiento de entornos más seguros y
protectores de la niñez del proyecto ”Por los Derechos de la Protección de Niñas, Niños y Adolescentes en Bolivia”
(DEPRONIB).El programa PROMYPE/JIWASA es financiado por la Embajada Real de Dinamarca y COSUDE tiene como principal objetivo fortalecer los complejos productivos  de cuero, textiles, alimentos, madera y metalmecánica de los departamentos de La Paz, Cochabamba, Potosí, Chuquisaca y Oruro a través de servicios de asistencia técnica, capacitación y equipamiento productivo. 
</p>

<p>
<ul>
<li type="square">Referencia: Unidad de Micro Datos y Encuestas</li>
<li type="square">Año: Julio - Septiembre 2014</li> 
<li type="square">País: Bolivia  </li>                                                                                                                                                                                                                              ">País: Bolivia</li>
<li type="square">Fuente: Niñas, Niños y Adolescentes de Bolivia</li>
<li type="square">Patrocinadores: DEPRONIB, AusAid</li>
<li type="square">Instituciones Participantes: Visión Mundial de La Paz - Bolivia; Fundación ARU</li>
</ul>
</p>
<p>
<b> Diseño de Instrumentos </b>
</p>

<p>
Se diseñaron los siguientes instrumentos para conseguir el objetivo esperado:
<ul>
<li type="disc">Determinar el avance real del proyecto en base a sus objetivos e indicadores planificados, utilizando criterios
de pertinencia, eficacia, eficiencia, fortalezas y limitaciones en su implementación.</li>
<li type="disc">Determinar la contribución del proyecto a los objetivos estratégicos de Visión Mundial.</li>
<li type="disc">Generar lecciones aprendidas, tanto a nivel interno organizacional como de intervención externa en las
comunidades, con los NNA, socios y autoridades en protección de la niñez</li>
<li type="disc">Establecer recomendaciones claras para futuros proyectos en protección de la niñez que tomen en cuenta un
enfoque desarrollado en la presente evaluación.</li>
<li type="disc">Establecer el grado de involucramiento y participación de los beneficiarios y socios del proyecto.</li>
<li type="disc">Analizar el uso eficaz de la inversión del financiamiento del organismo externo cooperante (AusAid).</li>
</ul>
</p>

<p>
<b> Desarrollo y participación ciudadana </b>
</p>
<p>
De manera especifica se evalua entornos de violencia y niveles de seguridad en los siguientes grupos de interés:
<ul>
<li type="disc">1. Niños, Niñas y Adolescentes en las áreas de intervención.</li>
<li type="disc">2. Las familias, padres y madres de los Niños, Niñas y Adolescentes en las áreas de intervención.</li>
<li type="disc">3. Los maestros de las escuelas de los Niños, Niñas y Adolescentes en las áreas de intervención.</li>
<li type="disc">4. Autoridades y líderes comunitarios donde habitan los Niños, Niñas y Adolescentes en las áreas de intervención.</li>
</ul>
</p>

<p>
<b> Información Técnica </b>
</p>

<p>
Muestreo
</p>

<p>
<ul>
<li type="disc">La metodología propuesta para el área urbana corresponde al metodo de ”comparación temporal” o ”efecto
dosis”.</li>
<li type="disc">Comparación Temporal o Efecto Dosis: Aplicación de la metodología anteriormente propuesta sobre los
beneficiarios del área rural, en el cuál el grupo de control son beneficiarios con menor tiempo de exposición
al proyecto complementario</li>
<li type="disc">Emparejamiento dentro de la localidad: Este procedimiento permite realizar la comparación entre unidades
tratadas y unidades de control que comparten características similares dentro de la misma localidad (o área
de intervención) pero que no optaron y/o no fueron parte del proyecto complementario.</li>
<li type="disc">Emparejamiento fuera de la PDA: Este procedimiento realiza el mismo procedimiento anterior pero con
unidades de control que se encuentran en una PDA o localidad distinta sin conexión con las PDA de intervención
del proyecto pero que comparte características similares a la PDA de tratamiento</li>
</ul>
Finalmente, el tiempo se refiere al espacio temporal del proyecto, los niveles de estos estratos son:
</p>
<p>
Area
<ul>
<li type="disc">Rural concentrado</li>
<li type="disc">Rural disperso</li>
</ul>
Edad
<ul>
<li type="disc">Menores a 12 años de edad</li>
<li type="disc">Entre 12 a 17 años de edad</li>
<li type="disc">Exactamente 12</li>
</ul>
Tiempo de participación de la PDA en el proyecto
<ul>
<li type="disc">1 año</li>
<li type="disc">Más de un año</li>
</ul>
</p>
<p>
Cuestionario
</p>
<p>
Para el proyecto se desarrollaron tres cuestionarios:
<ul>
<li type="disc">1. Niños, Niñas en las PDA’s.</li>
<li type="disc">2. Niños, Niñas en las UE.</li>
<li type="disc">3. Unidades Educativas(UE’s).</li>
</ul>
con la siguiente estructura las dos primeras:
<ul>
<li type="disc">Sección 0: Identificación</li>
<li type="disc">Sección 1: Características individuales</li>
<li type="disc">Sección 2: Características del hogar</li>
<li type="disc">Sección A: Tipos de Violencia</li>
</ul>
y la última:
<ul>
<li type="disc">Sección 0: Identificación</li>
<li type="disc">Sección 1: Características de la Unidad Educativa</li>
</ul>
</p>
<p>
Recolección de datos 
</p>
<p>
Con los instrumentos generados, y consensuados con el equipo de WVB (indicadores, boleta, cuestionarios, guía
de preguntas, protocolos de entrevistas y muestra) se procederá al levantamiento de la información en campo. El
operativo de campo fue desarrollado a través de las siguientes actividades:
<ul>
<li type="disc">Planeamiento y programación</li>
<li type="disc">Organización para el operativo de campo</li>
<li type="disc">Selección del personal y capacitación</li>
<li type="disc">Ejecución de la encuesta</li>
<li type="disc">Control y supervisión</li>
<li type="disc">Consistencia y control de calidad</li>
</ul>
</p>
<p>
Operativo:
<ul>
<li type="disc">Tipo de operativo: Una semana de recorrido para algunos departamentos y para otros una semana y media.</li>
<li type="disc">Población Objetivo: Niños, Niñas</li>
<li type="disc">Cobertura espacial: 5 departamentos elegidos que han sido intevenidos con el programa</li>
<li type="disc">Cobertura temporal: 3 al 14 de septiembre</li>
<li type="disc">Cobertura temática: Llenado de encuesta</li>
<li type="disc">Personal: Aproximadamente 22 personas)</li>
<li type="disc">Unidad de Observación: PDA’s y UE’s</li>
<li type="disc">Tiempo de llenado del cuestionario: 60 - 45 minutos</li>
<li type="disc">Carga de trabajo: 1 PDA y 1 UE</li>
<li type="disc">Tipo de trabajo: Remunerado</li>
</ul>
</p>
<p>
Proceso de datos 
</p>
<p>
<ul>
<li type="disc">Captura: Cuestionarios de papel autosuminstrados</li>
<li type="disc">Consistencia: Tablet’s cargadas con la aplicación y el árbol lógico del cuesionario</li>
<li type="disc">Transmisión: En línea vía internet y respaldo Backup en la tablet.</li>
<li type="disc">Validacion: Depuración - consolidación de la base (validación interna) y Consultas en el servidor por el usuario
(validación externa)</li>
</ul>
</p>
<p>
Indicadores del Proyecto
</p>
<p>
Los resultados, se encuentran entorno a los objetivos del proyecto plasmados en temas en el cuestionario:
<ul>
<li type="disc">Atención de necesidades cognitivas y valores</li>
<li type="disc">Atención de necesidades fisicas</li>
<li type="disc">Atención de necesidades emocionales</li>
<li type="disc">Atención de necesidades sociales</li>
<li type="disc">Violencia física de la madre o mujer sustituta</li>
<li type="disc">Violencia psicológica de la madre o mujer sustituta</li>
<li type="disc">Violencia por abandóno de la madre o mujer sustituta</li>
<li type="disc">Violencia física del padre u hombre sustituto</li>
<li type="disc">Violencia psicológica del padre u hombre sustituto</li>
<li type="disc">Violencia por abandono del padre u hombre sustituto</li>
<li type="disc">Violencia física del maestro</li>
<li type="disc">Violencia psicológica del maestro</li>
<li type="disc">Violencia por el abandono del maestro</li>
</ul>
</p>
<p>
 Evaluación de datos
</p>
<p>
La evaluación de la base de datos se da por:
<ul>
<li type="disc">1. Tablas descriptivas(frecuencias) de las variables de interés</li>
<li type="disc">2. Estadísticos resumen</li>
<li type="disc">3. Cálculo de indicadores</li>
</ul>
Los criterios de evaluación contemplarán una serie de criterios base que permiten establecer las conclusiones de
evaluación del proyecto:
<ul>
<li type="disc">1. Criterios de Eficiencia</li>
<li type="disc">2. Criterios de Eficacia</li>
<li type="disc">3. Criterios de Pertinencia</li>
<li type="disc">4. Verificación del impacto</li>
<li type="disc">5. Criterios de Relevancia</li>
<li type="disc">6. Criterios de Sostenibilidad</li>
</ul>
</p>
