<p>
<b>Información General</b>
</p>
<p>
El proyecto busca realizar un análisis riguroso de los resultados del Programa
Nacional de Alfabetización ''Yo si Puedo'', así como de las condiciones
socioeconómicas de la población de las áreas de intervención del programa, focalizando
esfuerzos, en cuanto al levantamiento de información y análisis, en
Chuquisaca, por la alta incidencia en resultados del programa en este departamento.
Para este cometido, la propuesta busca presentar un plan de trabajo
para la elaboración de un estudio con características cuantitativas que permitan
tener un conocimiento amplio de los logros y alcances del programa a través del
levantamiento de datos mediante; información primaria a través de encuestas,
seleccionando una muestra estadísticamente representativa en la cual se recabe
información propia del programa y de las condiciones socioeconómicas de las
personas mayores de 18 años en las áreas de intervención, identificando beneficiarios y los resultados del mismo, distinguiendo si estos resultados se deben a
la implementación del programa o están asociados a otro tipo de factores.
</p>
<p>
<ul>
<li type="square">Referencia: Unidad de Micro Datos y Encuestas</li>
<li type="square">2012 Abril</li>
<li type="square">País: Bolivia</li>
<li type="square">Fuente: Personas de los 16 a 65 años de edad, con menos de 5 años de
educación</li>
<li type="square">Campaña Boliviana por derecho a la Educación</li>
</ul>
</p>
<p>
<b> Diseño de Instrumentos </b>
</p>
<p>
Para evaluar la participación de la contribución del programa ''Yo si Puedo''
al desarrollo de las condiciones socioeconómicas de la población en las áreas de
incidencia del programa se asumirá la metodología de estimación e inferencia
bajo el supuesto de ''no confusión''. La no confusión se refiere a las situación en
la que las características observables entre el grupo de control y tratamiento son suficientes para asegurar estimaciones insesgadas, con posibilidad
de estimar el impacto de la colocación del programa acertadamente, y
verificar resultados de interés.
</p>

<p>
Los instrumentos de recolección responden a la recolección de variables de
cuantificación de analfabetismo (alfabetismo) y su asociación con caracteristicas
sociodemográficas. Adicionalmente, se recaba información sobre nivel educativo,
y caracteristicas de empleo.
</p>
<p>
La boleta propuesta contiene tres secciones:
<ul>
<li type="disc">Sección A. Composición del hogar</li>
<li type="disc">Sección B. Educación</li>
<li type="disc">Sección C. Empleo</li>
</ul>
</p>
<p>
<b> Desarrollo y participación ciudadana </b>
</p>
<p>
Las unidades de información corresponden a los individuos entre 15 y 65
años que tengan 5 o menos años de educación formal, que residan en viviendas
particulares del departamento de Chuquisaca. Estas unidades son diferenciadas,
a razón de que el diseño hace una diferenciación entre el área urbana, periurbana
y rural.
</p>
<p>
Área Urbana:
<ul>
<li type="disc">Sector censal</li>
<li type="disc">Vivienda particular</li>
</ul>
Área Periurbana y rural
<ul>
<li type="disc">Sector censal</li>
<li type="disc">Segmento censal</li>
<li type="disc">Vivienda particular</li>
</ul>
</p>

<p>
<b> Información Técnica </b>
</p>

<p>
Muestreo
</p>

<p>
Para la ejecución de la encuesta evaluación para el programa Yo si Puedo,
el diseño emplea un muestreo en dos etapas en el área urbana y tres etapas en
el área periurbana y rural.
</p>
<p>
La primera etapa esta estratificada a través de la variable lengua materna
procedente del CNPV 2001 con una asignación de poder alfa = 0; 5, la unidad
de muestreo en la primera etapa es diferenciada para el área urbana y rural,
la selección que emplea en la primera etapa es de tipo 1  y la segunda etapa
emplea una selección de tipo aleatoria.
</p>
<p>
Como también para las comunidades y sectores censales que estén por encima
de la mediana del área, en la variable ''Incidencia de personas entre 24 y 54 años
de edad y con 5 años o menos de educación registrados en el CNPV - 2001''
</p>

<p>
Cuestionario
</p>
<p>
La primera fuente de información proviene de datos logrados por el programa
nacional de alfabetización, que realizó un levantamiento de información
mediante encuestas a participantes y facilitadores del programa.
</p>

<p>
La segunda fuente de información que complementa y profundiza, es una
encuesta que recaba datos sobre:
<ul>
<li type="disc">Características socioeconómicas generales</li>
<li type="disc">Migración de corto plazo</li>
<li type="disc">Características laborales</li>
<li type="disc">Resultados educativos del programa</li>
<li type="disc">Reducción de pobreza</li>
</ul>
</p>
<p>
Recolección de datos 
</p>
<p>
Para la recolección de datos se armaron brigadas para el área urbana y rural
en las poblaciones que participarón en el programa ''Yo si Puedo'' así como los
que le dieron seguimiento con el ''Yo si Puedo seguir'' dentro del departamento
de Chuquisaca según el listado seleccionado para la muestra. El supervisor era responsable de llevar a la brigada al destino indicado en la organización de la
misma, las brigadas fueron conformadas por participantes del departamento de
Chuquisaca en la busqueda de mejores oportunidades de desplazamiento.
</p>
<p>
Proceso de datos 
</p>
<p>
Para la etapa de proceso de datos, se hizo la contratación de personal, para
realizar: la crítica, codificación y transcripción de la información recogida, con
el fin de depurar la información capturada es decir: la falta de respuesta, incoherencia
en las respuestas, argumentos inválidos e imputación de códigos en
las respuestas abiertas para la conformación de la base de datos.
</p>
<p>
 Evaluación de datos
</p>
<p>
El impacto de la implementación del programa se mide bajo el supuesto
de que existe una mejora en los resultados educativos donde las persona alfabetizadas,
producto de la participación de la capacitación provista por el
programa. Las estimaciones de la contribución de la capacitación y alfabetizaci
ón al desarrollo de la población en las áreas de incidencia del programa
''Yo si Puedo'', puede ser interpretada de varias formas, dependiendo de si se
resuelve el problema de selección o no. A razón de comprender este punto con
claridad, se debe notar que los estimados del SATT se pueden descomponer en
dos partes, el efecto verdadero del programa sobre las observaciones pertenecientes
al grupo de tratamiento, del término que proviene de la selección de la
muestra.
</p>
<p>
Por
otro lado, si el mecanismo de selección captura a las personas que anteriormente
habrían tenido alguna formación educativa, se tendría una mayor confianza en
las variables de control utilizadas, y que estas resuelvan el sesgo de selección,
convirtiendolo prácticamente en un término nulo.
</p>